<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="${slug}"></title>
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <div th:insert="components/header :: header-panel"></div>
    <section class="service_section layout_padding ">
      <div class="container">
        <div class="">
          <!-- filters -->
          <div class="card-deck">
          <div class="card" style="text-align:left;">
				<!-- Empty for keeping formatted -->
				<div class="card-body">
					<table>
	        <tr>
	        <td>
	       	 <img th:src="@{'data:image/jpeg;base64,'+${profilePicUrlData}}"  width="150px" height="150px" />
	        </td><td>
	        	<span th:text="${username}"></span>
	        	<br><span class="text-muted" th:text="${biography}"></span>
	        	<br><span class="text-muted" th:if="${#lists.isEmpty(followers) && isPrivate}">This Account is Private.</span>
	        	</td>
	        	</tr>
	        </table>
	        <div>
	        <br>
		        <button  th:if="${!#lists.isEmpty(followers)}" onclick="javascript:document.getElementById('mediaList').style.display='none';document.getElementById('followerList').style.display='block';">
		        	Followers: <span th:text="${followers_count}"></span>
	        	</button>
	        	<div th:if="${#lists.isEmpty(followers)}" >
		        	Followers: <span th:text="${followers_count}"></span>
	        	</div>
	        </div>	        
	        <br>
	        <div id="mediaList" style="display:none;">
	        Media
	           <table id="mediadeliveries" th:if="${!#lists.isEmpty(mediaList)}">
	            <tbody>
	               <tr th:each="mediaTemp,iterStat: ${mediaList}" >
	               <td><img  th:src="${mediaTemp}" width="250px" height="250px"></td>
	               </tr>
	               </tbody>
               </table>
            </div>
            <div id="followerList" style="display:none;">
            Followers
             <table id="deliveries" th:if="${!#lists.isEmpty(followers)}">
	            <tbody>
	               <tr th:each="followerTemp,iterStat: ${followers}" >
	               <td><img  th:src="${followerTemp[3]}" width="100px" height="100px"></td>
	               <td>
	               		<div th:text="${followerTemp[1]}"></div>
	               		<div class="text-muted" th:text="${followerTemp[2]}"></div>
	               	</td>
	               </tr>
	               </tbody>
               </table>
               <div th:if="${!#strings.isEmpty(maxId)}">
               <form>
               <input type="hidden" name="maxId" id="maxId" th:value="${maxId}" />
               <input type="hidden" name="owner" id="owner" th:value="${owner}" />
	        	</form>
               <button  th:if="${!#lists.isEmpty(followers)}" id="loadmore" onclick="javascript:loadmoreFollowers()">
		        	Load More
	        	</button>
               </div> 
            </div>
            <br>
            <script>
            	function loadmoreFollowers(){
            		var owner = document.getElementById("owner").value;
            		var maxId = document.getElementById("maxId").value;
            		var url = "/instaFollowers/"+owner+"/"+maxId;
            		//window.location.href=url;
            		$.get(url, function(data, status){
            		    //alert("Data: " + data.followers + "\nStatus: " + status);
            		    $.each(data.followers, function(index, item) {
						    //alert(item);
            		    	$('#deliveries tr:last').after('<tr><td><img src="'+item[3]+'" width="100px" height="100px"></td><td><div>'+item[1]+'</div><div class="text-muted">'+item[2]+'</div></td></tr>');
						});
            		    $('#maxId').val(data.maxId);
            		    if(data.maxId==null || data.maxId==''){
            		    	$('#loadmore').css("display", "none");
            		    }
            		    
            		  });
            	}
            </script>
				</div>
			</div>
							</div>
							</div>
							</div>
							</section>
				<div th:insert="components/footer :: footer-panel"></div>
			</body>
		</html>